
* {
    margin: 0;
    
}
body{
    background-color: gainsboro;
}
.cover-header {
height: 100px;
width: 100%;
margin-bottom: 0;
padding-bottom: 0;
}

.column{
    float: left;
    width: 40%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.menu-container{
    background-color: cadetblue;
    /* padding-top: 15px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: -4px;
    padding-top: 0;
}

.dropbtn {
    background-color: cadetblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 70px;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a img{
      height: 20px;
      width: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: lightskyblue;}

/* Start of Current Responsibilities */
.about-me{
    margin: 15px;
}

.about-me h4, .about-me h3{
    color: lightslategray;
}

.personal-photo{
    height: 200px;
    width: 150px;
}

.contact-logo {
    display: flex;
}

.contact-logo-list {
    list-style-type: none;
}

.contact-logo-list-item {
    float: left;
    margin: 5px;
}

.contact-logo-list-item img {
    height: 20px;
    width: 20px;
}

.job-desc{
    max-width: 45%;
}

/* End of Current Responsibilities */

.biography{
    font-size: larger;
}
.biography h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Box visuals start */
.box-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

/* Start Game Box */
.games-container{
    border: black 3px solid;
    height: 200px;
    width: 250px;
    background-image: url("./images/controller.png");
    background-repeat: no-repeat;
    background-size: 250px, 200px;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15px;
}

.games-label{
    color: red;
    font-weight: bolder;
    font-size: larger;
    align-self:flex-end;
    
}

.games-container:hover .games-label{
     display: none;
}

.games-container:hover{
    opacity: 1 ;
    background-image: none;
    background-color: lightblue;
}

.game-item a{
    display: none;
    
}

.game-item{
    list-style-type: none;
}

.games-container:hover .game-item a {
    display: block;
    text-decoration: none;
    color: green;
    font-weight: bolder;
    font-size: larger;
    
    
}
/* End Game Box */

/* Start Project Box */
.project-container{
    border: black 3px solid;
    height: 200px;
    width: 250px;
    background-image: url("./images/projects.jpg");
    background-repeat: no-repeat;
    background-size: 250px, 200px;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15px;
}

.project-label{
    color: red;
    font-weight: bolder;
    font-size: larger;
    align-self:flex-end;
    
}

.project-container:hover .project-label{
    display: none;
}

.project-container:hover{
    opacity: 1 ;
    background-image: none;
    background-color: lightblue;
}

.project-item a{
    display: none;
}

.project-item{
    list-style-type: none;
}
.project-container:hover .project-item a {
    display: block;
    text-decoration: none;
    color: green;
    font-weight: bolder;
    font-size: larger;
}
/* End of Projects */

/* Start of Ongoing Projects */
.ongoing-container{
    border: black 3px solid;
    height: 200px;
    width: 250px;
    background-image: url("./images/under_construction.jpg");
    background-repeat: no-repeat;
    background-size: 250px, 200px;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ongoing-label{
    color: red;
    font-weight: bolder;
    font-size: larger;
    align-self:flex-end;
    
}

.ongoing-container:hover .ongoing-label{
    display: none;
}

.ongoing-container:hover{
    opacity: 1 ;
    background-image: none;
    background-color: lightblue;
}

.ongoing-item a{
    display: none;
}

.ongoing-item{
    list-style-type: none;
}
.ongoing-container:hover .ongoing-item a {
    display: block;
    text-decoration: none;
    color: green;
    font-weight: bolder;
    font-size: larger;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.contact-me img{
    margin-left: 10px;
    height: 32px;
    width: 32px;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 15px;
}
