
* {
    margin: 0;
    
}
body{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}


/* mountain background image */
.cover-header {
height: 100px;
width: 100%;
margin-bottom: 0;
padding-bottom: 0;
}

/* css mountain background */
.hero-picture-css{
    overflow: hidden;
    background: #8db0c1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100px;
}
.mountain, .mountain-two, .mountain-three{
    position: absolute;
    bottom: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 90px solid rosybrown;
    z-index: 1;
    left: 10%;
}
.mountain-two{
    left: calc(10% + 80px);
    bottom: -20px;
    opacity: .3;
    z-index: 0;
}
.mountain-three{
    left: calc(10% - 80px);
    bottom: -10px;
    opacity: .5;
    z-index: 0;
}
.mountain-top{
    position: absolute;
    right: -32px;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 36px solid #ceeaf6;
    z-index: 2;
}
.moutnain-cap-1{
    position: absolute;
    top: 70px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6 ;
}
.moutnain-cap-1{
    left: -55px;
}
.cloud, .cloud::before, .cloud::after{
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #fff;
    border-radius: 100px / 50px;
    top: 20px;
    right: 33%
}
.cloud:before {
    content: '';
    left: -20px;
    top: 10px;

  }
  .cloud:after {
    content: '';
    left: 20px;
    top: 10px;
  }

/* change display color */
.dark-display-color{
    background-color: rgb(31, 31, 31);
    color: white;
}

.colorful-display-color{
    background-color: gainsboro;
    color: black;
}

.display-color{
    width: 75px;
    /* border: black 2px solid; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    margin-left: 10px;
}

.display-color #lightDisplay {
    background-color: gainsboro;
    border-radius: 25px;
}

.display-color #darkDisplay {
    background-color: #555;
    border-radius: 25px;
}

.color-display-tooltip {
    position: relative;
    display: inline-block;
  }
  
.color-display-tooltip {
visibility: hidden;
font-size: 14px;
font-weight: 200;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
/* bottom: 125%; */
right: 105%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}
.color-display-tooltip {
    visibility: visible;
    opacity: 1;
    }

/* .display-color button {
    background-color: gainsboro;
    border-radius: 25px;
} */
/* End change display color */
.column{
    float: left;
    width: 40%;
}
.about-column{
    width: 25%;
}
.biography-column{
    width: 50%;
}
.timeline-column{
    float: right;
    width:19%;
    margin-right: 20px;
}

.timeline{
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.timeline h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}

.timeline h4 {
    position: relative;
}
.timeline-item{
    /* margin-top: 13px; */
    border: black 1px solid;
    box-shadow: darkgrey 3px 5px;
    width: 100%;
    padding: 5px;
    background-color: rgb(243, 227, 198);
    display: inline-block;
}

.timeline-dark-display {
    background-color: darkgrey ;
}

.timeline-colorful-display {
    background-color: rgb(243, 227, 198);
}  

.timeline-item:hover{
    background-color: rgb(184, 206, 252);
}

.timeline li{
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    list-style: none;
}

.work:before{
    content: '👔';
    position: absolute;
    left: -12px;
    top: 25%;
}
.school:before{
    content:'🎓';
    position: absolute;
    left: -12px;
    top: 25%;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .timeline-tooltip {
visibility: hidden;
font-size: 14px;
font-weight: 200;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
/* bottom: 125%; */
right: 105%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}


.tooltip:hover .timeline-tooltip {
visibility: visible;
opacity: 1;
}
/* end tooltip */


.row:after {
    content:"";
    display: table;
    clear: both;
}

.sidepanel, .NavBar{
    display:none;
}

.menu-container{
    background-color: cadetblue;
    /* padding-top: 15px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: -4px;
    padding-top: 0;
    justify-content: space-between;
    margin-top: 100px;
}

.menu-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.menu-nav button {
   background-color: cadetblue;
   border: none;

}
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    /* margin-right: 100px; */
    /* max-width: 250px; */
    background-image:linear-gradient(rgb(240, 230, 211), rgb(241, 184, 146));
    color: black;
    border: none;
    font-weight: bold;
    margin-right: 150px;
    padding: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    margin-left: -10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a img{
      height: 20px;
      width: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-image:linear-gradient(rgb(240, 230, 211), rgb(241, 184, 146));
}


/* Start of Current Responsibilities */
.about-me{
    margin: 15px;
}
.about-me h2{
    margin-top: 10px;
}
.about-me h4, .about-me h5{
    color: lightslategray;
}

.personal-photo{
    height: 200px;
    width: 150px;
}

.contact-logo {
    display: flex;
}

.contact-logo-list {
    list-style-type: none;
}

.contact-logo-list-item {
    float: left;
    margin: 5px;
}

.contact-logo-list-item img {
    height: 20px;
    width: 20px;
}


.job-desc{
    max-width: 45%;
}

/* End of Current Responsibilities */

.biography{
    font-size: larger;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
}
.biography h3{
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.biography p{
    margin-top: 10px;
}

/* start of biography */
.tabs{
    /* border: 1px solid black; */
    display: flex;
}

.tabs__sidebard {
    width: 125px;
    flex-shrink: 0;
    background: rgb(243, 227, 198);
}

.tabs__button {
    display: block;
    padding: 10px;
    background: cadetblue;
    border: none;
    width: 150px;
    outline: none;
    cursor: pointer;
    color: white;
}

.tabs__button:active{
    background: cadetblue;
    color: black;
}

.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid rgb(243, 227, 198);;
}

.tabs__button--active {
    font-weight: bold;
    border-right: 2px solid teal;
    background-color: rgb(243, 227, 198);
    color: black;
}

.tabs__content {
    padding: 15px;
    font-size: 1rem;
    display: none;
}

.tabs__content--active{
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}
/* end of biography  */

/* start of projects/challenges */
.projects{
    margin-top: 50px;
}

.projects ul{
    list-style-type: none;
    margin-top: 5px;
}

/* .projects li a{
    text-decoration: none;
    color: black;
} */

.contact-me img{
    margin-left: 10px;
    height: 32px;
    width: 32px;
}

.resume-download{
    margin-top: 20px;
    border: black solid 2px;
    background-color: rgb(243, 197, 167);
    box-shadow: darkgrey 3px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resume-download:hover{
    opacity: .7;
}

.resume-download a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: purple;
}

@media (max-width: 770px){
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    /* footer{
        position: relative;
        margin-top: 20px;
        bottom: 0;

    } */
    .about-column, .biography-column{
        width: 60%;
        float: left;
    }
    .timeline-column{
        width: 30%;
        float: right;
    }
}

@media (max-width: 595px) {
    .dropdown{
        display: none;
    }
    /* NavBar */
.sidepanel {
    width: 0;
    display: block;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(87, 85, 85);
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    /* transition: 0.1s; */
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .NavBar {
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 100%;
    background-color: cadetblue;
  }
  
  .NavBar a {
    position: absolute;
    left: 75px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: left;
    border: black 1px solid;
    box-shadow: 2px 1px black;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  .mobile-menu-header{
      color: cadetblue;
      text-decoration: underline;
      margin-left: 8px;
  }
  .display-color{
      display: none;
  }
}